{% extends '::base.html.twig' %}

{% block content %}

    {% for contact in allContacts %}
        <div class="alert">
            <h4>Name: <a href="{{ path('contactbox_contact_showcontact', {'id' : contact.id}) }}"> {{ contact.firstname }} {{ contact.lastname }}</a></h4>
            <p><a href="{{ path('contactbox_contact_modifycontact', {'id' : contact.id}) }}">Edit contact</a>,
               <a href="{{ path('contactbox_contact_deletecontact', {'id' : contact.id}) }}">Delete contact</a>,
               <a href="{{ path('contactbox_contact_showcontact', {'id' : contact.id}) }}">Details</a></p>
        </div>
    {% else %}
        <p class="alert alert-danger">No contacts to show</p>
    {% endfor %}

{% endblock %}